/* @import "./checkoutPage.css";
@import "./toast.css"; */

/* body {
  font-size: 13px/1.7em;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

hr {
  margin-top: 0 !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.nav-link,
.nav-link:focus,
.nav-link:active,
.nav-link:hover {
  color: #0009;
} */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.pagePanel1 {
  animation: gradientAnimation 5s infinite;
}