/* @import "./checkoutPage.css";
@import "./toast.css"; */

/* body {
  font-size: 13px/1.7em;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

hr {
  margin-top: 0 !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.nav-link,
.nav-link:focus,
.nav-link:active,
.nav-link:hover {
  color: #0009;
} */
/* @keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
/* .pagePanel1 {
  animation: gradientAnimation 5s infinite;
  height: 100vh;
} */
/* External CSS file or in a style tag within your component */
.tab {
  /* Optional: Add spacing between tabs */
  border-bottom: 1rem solid transparent !important;
  cursor: pointer;
}
.active-tab {
  position: relative;
  border: none;
  border-bottom: 1rem solid #d87df9 !important;
  cursor: pointer;
}
.active-tab-bottom {
  position: relative;
  border: none;
  border-top: 1rem solid #d87df9 !important;
  cursor: pointer;
}
.tab-bottom {
  /* Optional: Add spacing between tabs */
  border-top: 1rem solid transparent !important;
  cursor: pointer;
}
.active-tab-bottom::before {
  /* content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #d87df9;  */
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #d87df9;
  content: "";
  position: absolute;
  left: -1rem;
  left: -1rem;
  transform: rotate(181deg);
  bottom: 96px;
}
.active-tab-bottom::after {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #d87df9;
  content: "";
  position: absolute;
  right: -1rem;
  right: -1rem;
  bottom: 96px;
  transform: rotate(180deg);
}
.active-tab::before {
  /* content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #d87df9;  */
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #d87df9;
  content: "";
  position: absolute;
  left: -1rem;
  bottom: -1rem;
}
.active-tab::after {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #d87df9;
  content: "";
  position: absolute;
  right: -1rem;
  bottom: -1rem;
}
.active-tab-left {
  position: relative;
  border: none;
  border-right: 1rem solid #d87df9 !important;
  cursor: pointer;
}
.tab-left {
  /* Optional: Add spacing between tabs */
  border-right: 1rem solid transparent !important;
  cursor: pointer;
}
.active-tab-left::before {

  /* width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #d87df9;
  content: "";
  position: absolute;
  transform: rotate(269deg);
  bottom: -9px;
  right: -24px; */
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #d87df9;
  content: "";
  position: absolute;
  transform: rotate(269deg);
  right: -24px;
  top: -8px;
}
.active-tab-left::after {
  /* width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #d87df9;
  content: "";
  position: absolute;
  right: -24px;
  bottom: 88px;
  transform: rotate(270deg); */
  width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid #d87df9;
    content: "";
    position: absolute;
    transform: rotate(270deg);
    right: -24px;
    bottom: -8px;
}
.active-tab-right {
  position: relative;
  border: none;
  border-left: 1rem solid #d87df9 !important;
  cursor: pointer;
}
.tab-right {
  /* Optional: Add spacing between tabs */
  border-left: 1rem solid transparent !important;
  cursor: pointer;
}
.active-tab-right::before {

  /* width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #d87df9;
  content: "";
  position: absolute;
  transform: rotate(89deg);
  bottom: -8px;
  left: -24px; */
  width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid #d87df9;
    content: "";
    position: absolute;
    transform: rotate(89deg);
    left: -24px;
    top: -9px;
}
.active-tab-right::after {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #d87df9;
  content: "";
  position: absolute;
  transform: rotate(90deg);
  left: -24px;
  bottom: -8px;
}
.tab-underline {
  /* Optional: Add spacing between tabs */
  border-bottom: 0.5rem solid transparent !important;
  cursor: pointer;
}
.active-tab-underline {
  position: relative;
  border: none;
  border-bottom: 0.5rem solid #d87df9 !important;
  cursor: pointer;
}
.tab-underline-bottom {
  /* Optional: Add spacing between tabs */
  border-top: 0.5rem solid transparent !important;
  cursor: pointer;
}
.active-tab-underline-bottom {
  position: relative;
  border: none;
  border-top: 0.5rem solid #d87df9 !important;
  cursor: pointer;
}
.active-tab-left-underline {
  position: relative;
  border: none;
  border-right: 0.5rem solid #d87df9 !important;
  cursor: pointer;
}
.tab-left-underline {
  /* Optional: Add spacing between tabs */
  border-right: 0.5rem solid transparent !important;
  cursor: pointer;
}
.active-tab-right-underline {
  position: relative;
  border: none;
  border-left: 0.5rem solid #d87df9 !important;
  cursor: pointer;
}
.tab-right-underline {
  /* Optional: Add spacing between tabs */
  border-left: 0.5rem solid transparent !important;
  cursor: pointer;
}
.active-tab-tabs{
  background: #fff;
  /* border-radius: 8px; */
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid transparent;

}
.tab-tabs{
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
  border-left: 1px solid #80808085;
  border-top: 1px solid #80808085;
  border-right: 1px solid #80808085;
  border-bottom: 1px solid transparent;

}
.tab-tabs-bottom{
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
  border-left: 1px solid #80808085;
  border-bottom: 1px solid #80808085;
  border-right: 1px solid #80808085;
  border-top: 1px solid transparent;

}
.active-tab-tabs-left{
  background: #fff;
  /* border-radius: 8px; */
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid transparent;
  margin-top: 8px;
}
.tab-tabs-left{
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #80808085;
  border-left: 1px solid #80808085;
  border-top: 1px solid #80808085;
  margin-top: 8px;
}
.active-tab-tabs-right{
  background: #fff;
  /* border-radius: 8px; */
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid transparent;
  margin-top: 8px;
}
.tab-tabs-right{
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
  border-right: 1px solid #80808085;
  border-bottom: 1px solid #80808085;
  border-left: 1px solid transparent;
  border-top: 1px solid #80808085;
  margin-top: 8px;
}
.active-tab-tabbutton{

  background: rgb(216, 125, 249);
  /* border-radius: 8px; */
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
  /* border: 1px solid transparent; */

}
.tab-tabbutton{
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
  background-color: #dbdbdb45;
  /* background: #dbdbdb45;
  border-radius: 8px; */
}
.active-tab-tabbutton:last-child{
border-radius: 0px 100px 100px 0px;
}
.tab-tabbutton:last-child{
border-radius: 0px 100px 100px 0px;
}
.active-tab-tabbutton:first-child{
border-radius: 100px 0px 0px 100px;
}
.tab-tabbutton:first-child{
border-radius: 100px 0px 0px 100px;
}
.active-tab-arrow{

 position: relative;
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;


}

.tab-arrow{
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
 
}
.Card_body {
  background-color: #fff;
  /* padding: 100px; */
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.Card_body:hover img:nth-child(2) {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.Card_body .img1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}
.icon_box {
  transform: translateX(60px); 
  transition: transform 0.3s ease; 
}

.Card_body:hover .icon_box {
  transform: translateX(0px); 
}
.btn2{
  position: absolute;
  transform: translateY(10px);
  transition: transform 0.2s ease;
}
.Card_body:hover .btn2 {
  transform: translateY(-19px); 
}
.btn1{
  
  transform: translateY(-1px);
  transition: transform 0.2s ease;
}
.Card_body:hover .btn1 {
  transform: translateY(-29px); 
}
.image_body{

}
.des_box{

}
@media (max-width:430px){
  .active-tab-arrow{
    padding: 12px 25px;
  }
  .tab-arrow{
    padding: 12px 25px;
  }
}
.active-tab-arrow::after {

  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #ffffff;
  content: "";
  position: absolute;
  left: auto;
  transform: rotate(181deg);
  right: 37%;
 
}
.active-tab-arrow-bottom{

  position: relative;
   padding: 12px 45px;
   font-weight: 600;
   cursor: pointer;
 
 
 }
 .active-tab-arrow-bottom::after {
 
   width: 0;
   height: 0;
   border-left: 1rem solid transparent;
   border-right: 1rem solid transparent;
   border-top: 1rem solid #ffffff;
   content: "";
   position: absolute;
   left: auto;
   transform: rotate(0deg);
   right: 37%;
   top:0px
  
 }
.tab-arrow-bottom{
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
 
}
.active-tab-arrow-left{

  position: relative;
   padding: 12px 45px;
   font-weight: 600;
   cursor: pointer;
 
 
 }
 .active-tab-arrow-left::after {
 
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #ffffff;
  content: "";
  position: absolute;
  right: -23px;
  transform: rotate(90deg);
  top: 38%;

  
 }
.tab-arrow-left{
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
 
}
.active-tab-arrow-right{

  position: relative;
   padding: 12px 45px;
   font-weight: 600;
   cursor: pointer;
 
 
 }
 .active-tab-arrow-right::after {
 
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #ffffff;
  content: "";
  position: absolute;
  left: -23px;
  transform: rotate(-90deg);
  top: 38%;

  
 }
.tab-arrow-right{
  padding: 12px 45px;
  font-weight: 600;
  cursor: pointer;
 
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  /* background: white; */
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 230px;
}
.changing-text {
  /* font-size: 24px;
  text-align: center;
  margin-top: 100px; */
  animation: fadeInOut 2s ease infinite;
}

@keyframes fadeInOut {
  0% {
    /* opacity: 0; */
    transform: translateY(100px);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    /* opacity: 0; */
    transform: translateY(-100px);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.dynamic-text {
  color: #ff5733;
  animation: slide-up 1s ease-in-out infinite;
}
.skeleton {
  --bg: #e1e1e1;
  --glare-bg: linear-gradient(90deg, transparent, #ffffff66, transparent);
  position: relative;
  background-color: var(--bg);
  overflow: hidden;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--glare-bg);
  transform: translateX(-100%);
  animation: skeleton-glare 1.75s infinite;
  z-index: 1;
}

@keyframes skeleton-glare {
  to {
    transform: translateX(100%);
  }
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
} */

.card {
  --card-radius: 6px;
  min-width: 300px;
  height: auto;
  /* box-shadow:
    0 0 32px 2px rgba(0, 0, 0, 0.05),
    0 0 16px 2px rgba(0, 0, 0, 0.2),
    0 0 8px 2px rgba(0, 0, 0, 0.1); */
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 10px;
}

.card__img {
  width: 100%;
  height: 200px;
}

.card__body {
  padding: 16px 16px 0;
}

.card__text {
  height: 1em;
  border-radius: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.card__body > .card__text {
  margin: 0.5em 0;
}

.card__body > .card__text:last-child {
  width: 66%;
}
.activeTabs {
  background: #d87df9 !important;
  color: #fff !important;
  border-radius: 100px !important;
  padding: 12px 20px 10px !important;
  /* white-space: pre; */
  margin-left: 10px !important;
}
.inActiveTabs {
  background: #958f97 !important;
  color: #fff !important;
  border-radius: 100px !important;
  padding: 12px 20px 10px !important;
  /* white-space: pre; */
  margin-left: 10px !important;
}
@media (max-width: 480px) {
  .activeTabs {
    font-size: 12px !important;
    padding: 10px !important;
  }
  .inActiveTabs {
    font-size: 12px !important;
    padding: 10px !important;
  }
}

