.subSettingTitle {
   
    padding:5px;
    background-color:#555;
    color:#fff; 
    cursor: pointer;
    /* border-radius: 5px 5px 0px 0; */
    border: 1px solid #635c5c;
    font-size: 14px;
    border-bottom: 0;
    opacity: 0.9;
    background-color:#555;
}

.subSettingTitle:hover {
    opacity: 1;
}



.mainContainer {
    padding: 10px 20px;
    background-color: #4c4c4c;
    margin-bottom: 5px;
}
.mainContainer  label{
    display: inline-block !important;
    width: 36%;
    font-weight: 400;
    font-size: 13px;
}

.mainContainer select{
    width: auto;
    width: 50%;
    font-size: 14px;
    height: 30px;
}

.mainContainer input{
    width: auto;
    width: 50%;
    font-size: 14px;
    height: 30px;
    padding-left: 10px;
    accent-color: #666;
    border-radius: 8px;
    height: 10px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    background: #262626;
}
.mainContainer span{
    min-width: 25px;
    width: 25px;
    font-size: 12px;
}
.advSet {
    margin: 5px 0;
    cursor: pointer;
    color: #ababab;
    font-size: 13px;
}


.rangeSet {
    margin: 5px 0;
    cursor: pointer;
}
.stMrgPdg{
}