.formContainer {
    background-color:#0e0e0e;
    padding:10px;
    border-top: 1px solid #fff;
}

.addEditBtn {
    margin-top: 10px;
}
.Highlights.form-check-input{
    background-color: #ccc;
}
.Highlights input{
    width: 52px !important;
    height: 25px;
    margin-top: 0;
    margin-right: 10px;
}
.Highlights label{
    color: #B3B3B3;
    font-size: 14px;
    font-weight: 700;
}
.addDropdown {
    padding-bottom: 20px;
    border-bottom: 2px dashed #fff;
}