.subSettingTitle {
    padding:5px;
    background-color:#555;
    color:#fff; 
    /* border-bottom:1px solid #fff; */
    cursor: pointer;
    border-radius: 5px 5px 0px 0;
    opacity: 0.9;
    font-size: 14px;
}

.subSettingTitle:hover {
    opacity: 1;
}

.mainContainer {
    padding:5px;
    /* background-color: #444242; */
    margin-bottom: 5px;
    position: relative;
}

.advSet {
    margin: 5px 0;
    cursor: pointer;
}

.rangeSet {
    margin: 5px 0;
    cursor: pointer;
}

.colorBox {
    background-color:#fff;
    color:#000;
    cursor: pointer;
    padding:3px;
    border: 1px solid #000;
}
.clsBtnContainer {
    flex-wrap: wrap; 
    display: inline-flex;
    font-size: 12px; 
    color:#fff;
}
.clsName {
    background:#4c4c4c;
    padding: 2px 20px 2px 5px;
    border-radius:5px; 
    border:1px solid #fff;
    position: relative;
    margin-left: 5px;
    z-index: 99999;
}
.clsName svg {
    font-size: 20px;
    position: absolute;
    display: none;
    top:2px;
    right:0;
}

.clsName:hover svg {
    display: block;
}
.clsIpBox input {
    width: 100% !important;
    color:#fff !important;
    background: transparent;
    position: relative;
}
.clsLabel {
    margin-bottom: 5px;
    padding: 5px;
    font-size: 14px;
}

.dropDownBox {
    margin-left: 5px;
    margin-bottom: 10px;
}

.dropDowninnerBox {
    background:#4c4c4c;
    padding: 2px 20px 2px 5px;
    border-radius:5px; 
    border:1px solid #fff;
    margin-left: 5px;
}

.dBoxComntainer {
    position: absolute;
    z-index: 9999999;
    background:#4c4c4c;
    width: 250px;
}
.statesCls {
    padding: 3px 5px;
    color: #fff;
    background-color: #4c4c4c;
    font-size: 12px;
    
}
.statesCls:hover {
    background-color: #000;
}
.statesBox {
    border: 1px solid #fff;
    width: 100px;
    position: absolute;
    top: 28px;
    right: 3px;
    z-index: 999912;
}
.statesBoxArrw {
    position: absolute;
    top: 5px;
    right: 3px;
    z-index: 999912;
    background: #333;
}
.statesTitle {
    background: #404040;
    padding: 1px 5px;
    color: #fff;
    font-size: 14px;
}

.deviceLabel {
    padding: 5px; 
    margin: 5px; 
    background-color:#0e0e0e;
    border-radius: 5px;
    cursor: pointer;
}

.deviceCnt .btn-outline-primary:hover {
    color: #fff;
    background-color: #f59434;
    border-color: #f59434;
}

.activeDevice {
    background-color: #f59434;
}
